<div class="panel panel-primary">
    <div class="panel-heading">Reddit Component | Add a Link</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" name="title" #newtitle>
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input class="form-control" name="link" #newlink>
            </div>
            <button (click)="addArticle(newtitle, newlink)" class="btn btn-default">Submit Link</button>
        </form>
        <div>
            <reddit-article *ngFor="#article of sortedArticles()" [article]="article"></reddit-article>
        </div>
    </div>
</div>